.main {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 70px;
}

.main__title {
    font-weight: 500;
    font-size: 34px;
}

.main__info {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 0.6fr 0.4fr;
    margin-top: 30px;
}