.app {
  min-height: 100vh;

  background-color: var(--main);
}

h1,
h2,
h3,
p {
    font-family: var(--font-stack);
}

ul,
ol {
    list-style: none;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}